.loginFormBox {
}
.inputField {
  padding: 10px;
  border: none;
}
.btnLogin {
  height: 45px;
  font-weight: 600;
  border-radius: 20px;
  width: 35%;
  background: #2fcab7;
  border: none;
  color: #000;
}
.btnLogin span:hover {
  color: #000;
}
